<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
        text="volver"
        color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alert</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="Saludar()" expand="block" fill="solid" color="success" shape="round">
    Saludo
  </ion-button>

  <ion-button (click)="Ingresar()" expand="block" fill="solid" color="warning" shape="round">
    Ingresar
  </ion-button>




</ion-content>
