<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
      *ngFor="let articulo of articulos; let i=index"> 
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            <span class="text-primary">{{i+1}}</span>
            <br>
            <span>{{articulo.source.name}}</span>
          </ion-card-subtitle>
          <ion-card-title>
            {{articulo.title}}
          </ion-card-title>
        </ion-card-header>
        <ion-img *ngIf="articulo.urlToImage" [src]="articulo.urlToImage">
        </ion-img>
        <ion-card-content>
          <p>
            {{articulo.description}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
