<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
        text="volver"
        color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">card</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--insertamos tarjeta con solo texto-->
  <ion-card style="background-color:bisque;">
    <ion-card-header>
      <ion-card-subtitle style="color:coral">Subtitulo 1</ion-card-subtitle>
      <ion-card-title>Titulo 1</ion-card-title>
    </ion-card-header>
    <ion-card-content class="texto">
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, iusto quos ex excepturi debitis voluptas quasi enim maxime atque illum ratione dolorem exercitationem nihil, officia similique repellat. Saepe, quod provident!
    </ion-card-content>
  </ion-card>

<!--insertamos tarjeta con imágenes-->
<ion-card>
  <img src="assets/perrito.jfif" class="ion-padding fondoImg">
  <ion-card-header class="fondoHeader">
    <ion-card-subtitle class="colorTitulos" style="color:black">Cachorro Golden</ion-card-subtitle>
    <ion-card-title class="colorTitulos" style="color:black" >Tipo de perrito</ion-card-title>
  </ion-card-header>
  <ion-card-content class="fondoContent">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis alias quisquam, fugit suscipit ea tempore eum ducimus facere deleniti blanditiis mollitia eos ex odio doloribus, eaque tenetur, in nostrum nam.
   
    <ion-button routerLink="/alert" expand="block" fill="solid" color="primary" shape="round">
      Alert
    </ion-button>

    <ion-button routerLink="/inicio" expand="block" fill="solid" color="success" shape="round">
      Inicio
    </ion-button>

  </ion-card-content>
   
</ion-card>


<ion-card>
  <ion-card-header class="fondoHeader">
    <ion-card-subtitle class="colorTitulos" style="color:black">Cachorro Blanco</ion-card-subtitle>
    <ion-card-title class="colorTitulos" style="color:black" >Otro Tipo de perrito</ion-card-title>
  </ion-card-header>
  <ion-card-content class="fondoContent">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis alias quisquam, fugit suscipit ea tempore eum ducimus facere deleniti blanditiis mollitia eos ex odio doloribus, eaque tenetur, in nostrum nam.
  </ion-card-content>
  <img src="assets/perrito2.jpg" class="ion-padding fondoImg">
</ion-card>




</ion-content>
